@import url("https://fonts.googleapis.com/css?family=Roboto:400,600,300,500,700");

body {
    margin: 0;
    padding: 0;
}

.webpage {
    align-items: center;
    background-color: ver(--white);
    display: flex;
    flex-direction: column;
    min-height: 8981px;
    overflow: hidden;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group8 {
    height: 4357px;
    margin-left: 15px;
    margin-top: 135px;
    position: relative;
    width: 1227px;
}

.blog {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 1290px;
    position: absolute;
    top: 2989px;
    width: 1227px;
}

.webpage .flex-row-3 {
    align-items: flex-start;
    display: flex;
}

.flex-row-1 {
    background-color: var(--outer-space);
    border-radius: 25px;
    gap: 109px;
    height: 1035px;
    margin-top: 90px;
    min-width: 1223px;
    padding: 77px 65px;
}

.blogblock-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 871px;
    width: 489px;
}

.webpage .blog-block-3 {
    background-color: var(--white);
    border-radius: 25px;
    height: 251px;
    width: 482px;
}

.blog-block-2 {
    margin-top: 54px;
}

.blog-block-1 {
    margin-top: 64px;
}

.blog-block {
    background-color: var(--white);
    border-radius: 25px;
    height: 251px;
    width: 489px;
}

.blogblock-container-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 871px;
    width: 489px;
}

.view-more-1 {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 3px;
    margin-top: 64px;
    min-height: 38px;
    text-align: center;
    white-space: nowrap;
    width: 186px;
}

.blog-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 6px;
    min-height: 63px;
    width: 118px;
}

.why-choose-us {
    align-items: flex-start;
    display: flex;
    gap: 106px;
    height: 1605px;
    margin-left: 177px;
    margin-top: 95px;
    min-width: 1171px;
    position: absolute;
    top: 99px;
}

.flex-col-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 1585px;
    width: 563px;
}

.our-team-comprises-s {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
    min-height: 105px;
    width: 556px;
}

.expertise {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 7px;
    margin-top: 123px;
    min-height: 56px;
    width: 223px;
}

.we-stay-ahead-of-the {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 2px;
    margin-top: 20px;
    min-height: 105px;
    width: 556px;
}

.proven-track-record {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 171px;
    min-height: 112px;
    width: 314px;
}

.why-choose-us-1{
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 411px;
}

.with-a-track-record {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 2px;
    margin-top: 35px;
    min-height: 105px;
    width: 556px;
}

.innovation {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 5px;
    margin-top: 171px;
    min-height: 56px;
    width: 233px;
}

.client-centric-approach {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 9px;
    margin-top: 171px;
    min-height: 112px;
    width: 312px;
}

.your-success-is-our {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
    min-height: 140px;
    width: 556px;
}

.image-container {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin-top: 200px;
    height: 1457px;
    width: 484px;
}

.innovation-image {
    height: 267px;
    margin-top: 120px;
    object-fit: cover;
    width: 484px;
}

.client-image {
    height: 267px;
    margin-top: 134px;
    object-fit: cover;
    width: 484px;
}

.fold-arms-image {
    height: 267px;
    margin-top: 135px;
    object-fit: cover;
    width: 484px;
}

.engineers-image {
    height: 267px;
    object-fit: cover;
    width: 484px;
}

.separate-lines {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 6px;
    min-height: 4357px;
    position: absolute;
    top: 0;
    width: 1220px;
}

.line-2 {
    margin-top: 1802px;
}

.webpage .line {
    height: 9px;
    width: 1200px;
}

.line-1 {
    align-self: center;
    margin-left: 560px;
    margin-right: 150px;
    margin-top: 20px;
}

.line-4 {
    margin-top: 1453px;
}

.line-3 {
    margin-top: 1070px;
}

.testimonials {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 106px;
    min-height: 928px;
    position: absolute;
    top: 1910px;
    width: 1199px;
}

.view-more {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    min-height: 38px;
    text-align: center;
    white-space: nowrap;
    width: 186px;
}

.flex-row {
    align-items: flex-end;
    display: flex;
    gap: 109px;
    height: 845px;
    min-width: 1187px;
}

.overlap-group1 {
    align-self: flex-end;
    background-image: "images/food.png";
    background-position: 50% 50%;
    background-size: cover;
    height: 688px;
    position: relative;
    width: 530px;
}

.j-food-co-ltd {
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 249px;
    width: 373px;
}

.rectangle {
    background-color: var(--fuscous-gray);
    border-radius: 25px;
    height: 688px;
    left: 0;
    position: absolute;
    top: 0;
    width: 530px;
}

.inventory-management-system {
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 344px;
    width: 439px;
}

.testimonials-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 317px;
}

.overlap-group2 {
    background-image: "images/doctor.png";
    background-position: 50% 50%;
    background-size: cover;
    height: 688px;
    position: relative;
    width: 530px;
}

.inventory-management-system-1 {
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 344px;
    width: 439px;
}

.example-hospital {
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 249px;
    width: 439px;
}

.title {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center; /* テキストを中央揃えに変更 */
    margin-top: 120px;
    margin-bottom: 20px;
    min-height: 94px;
    min-width: 705px;
    white-space: nowrap;
    margin-left: auto; /* 左右の余白を自動調整 */
    margin-right: auto; /* 左右の余白を自動調整 */
}

.career {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 94px;
    min-height: 1096px;
    width: 1196px;
}

.flex-row-2 {
    align-self: center;
    gap: 31px;
    height: 873px;
    margin-left: 30px;
    margin-top: 58px;
    min-width: 1134px;
}

/*
.flex-container {
    display: flex;
    justify-content: space-between;
}
*/

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 873px;
    width: 357px;
}



.n-image-1 {
    height: 501px;
    object-fit: cover;
    width: 357px;
}

.overlap-group3 {
    align-items: flex-end;
    background-color: #61c7f2;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    flex-direction: column;
    min-height: 372px;
    padding: 10px 14px;
    width: 357px;
}

.matthew {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 13px;
    margin-top: 30px;
    min-height: 47px;
    width: 184px;
}

.frontend-developer {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 11px;
    margin-top: 20px;
    min-height: 126px;
    width: 290px;
}

.add-circle-outline {
    height: 50px;
    margin-top: 79px;
    width: 50px;
}

.overlap-group5 {
    align-items: flex-end;
    background-color: #ff9737;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    flex-direction: column;
    min-height: 372px;
    padding: 10px 17px;
    width: 357px;
}

.webpage .name-2 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 30px;
    min-height: 47px;
}

.name {
    margin-right: 17px;
    width: 134px;
}

.sales-manager {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 17px;
    margin-top: 20px;
    min-height: 126px;
    width: 290px;
}

.flex-col-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 873px;
    width: 358px;
}

.man-2-image-1 {
    height: 501px;
    margin-left: 1px;
    object-fit: cover;
    width: 357px;
}

.overlap-group4 {
    align-items: flex-end;
    background-color: #5edf73;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    flex-direction: column;
    min-height: 372px;
    padding: 10px 9px;
    width: 357px;
}

.name-1 {
    margin-right: 25px;
    width: 73px;
}

.mobile-develper {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 1px;
    margin-top: 20px;
    min-height: 126px;
    width: 290px;
}

.career-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 173px;
}

.interested-in-joinin {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 18px;
    min-height: 84px;
}

.footer {
    height: 708px;
    margin-top: 120px;
    width: 1440px;
}

.our-service {
    align-items: flex-end;
    display: flex;
    gap: 196px;
    height: 1197px;
    margin-left: 81px;
    margin-top: 95px;
    min-width: 1245px;
}

.flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    height: 1245px;
    width: 585px;
}

.our-service-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 287px;
}

.custom-software-development {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 57px;
    min-height: 47px;
    width: 565px;
}

.we-actively-engaged-in-various-fields {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 7px;
    min-height: 42px;
    white-space: nowrap;
}

.custom-software-dev-image {
    height: 224px;
    margin-top: 35px;
    object-fit: cover;
    width: 380px;
}

.flex-col-item {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 34px;
    min-height: 140px;
    width: 556px;
}

.mobile-image {
    height: 225px;
    margin-top: 42px;
    object-fit: cover;
    width: 380px;
}

.mobile-app-development {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 60px;
    min-height: 47px;
    width: 454px;
}

.flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    /*min-height: 1028px;*/
    height: 1245px;
    width: 557px;
}

.web-app-dev {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    min-height: 47px;
    width: 417px;
}

.web-app-dev-image {
    height: 225px;
    margin-left: 1px;
    margin-top: 77px;
    object-fit: cover;
    width: 442px;
}

.cloud-solutions {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    margin-top: 72px;
    min-height: 47px;
    width: 300px;
}

.flex-col-item-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    margin-top: 34px;
    min-height: 105px;
    width: 556px;
}

.cloud-image {
    height: 225px;
    margin-left: 1px;
    margin-top: 77px;
    object-fit: cover;
    width: 442px;
}

.web-app-dev-image {
    height: 224px;
    margin-top: 58px;
    object-fit: cover;
    width: 442px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2列のグリッドレイアウトを定義 */
    grid-gap: 20px; /* グリッドアイテム間の間隔を設定 */
    justify-content: center; /* グリッドアイテムを中央に配置 */
    align-items: center; /* グリッドアイテムを中央に配置 */
    text-align: center; /* グリッドアイテム内のテキストを中央に配置 */
}
.header {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: flex-start;
    margin-left: 8px;
    max-width: 2560px;
    width: auto;
}

.navbar {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000048;
    display: flex;
    height: 52px;
    min-width: 1620px;
    padding: 5px 33px;
}

/* 各navbar-linkの間にmargin-rightを追加 */
.navbar-link-place,
.navbar-link-products,
.navbar-link-news,
.navbar-link-recruit {
    margin-right: 140px; /* 項目間のスペースを調整 */
}

.webpage .navbar-link {
    letter-spacing: 0;
    line-height: normal;
    min-height: 22px;
    text-align: center;
    white-space: nowrap;
}

.navbar-link-place {
    color: #42474c;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 400;
    width: auto; /* テキストに合わせて幅を自動調整 */
}

.navbar-link-recruit {
    width: 30px;
}

/*
.webpage .navbar-link-news {
    letter-spacing: 0;
    line-height: normal;
    min-height: 22px;
    text-align: center;
    white-space: nowrap;
}
*/

.navbar-link-place {
    color: #42474c;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 400;
    margin-left: 182px;
    width: 60px;
}

.navbar-link-recruit {
    margin-left: 50px;
    width: 69px;
}

.c-logo {
    align-self: flex-start;
    height: 56px;
    object-fit: cover;
    width: 50px;
}

.user-icon {
    height: 28px;
    margin-bottom: 3.31px;
    margin-left: 115px;
    width: 29px;
}

.search-logo {
    height: 35px;
    margin-left: 100px;
    margin-top: 3px;
    width: 35px;
}

.bar {
    align-items: flex-start;
    margin-left: 4px;
    min-width: 1444px;
    margin-top: -195px;
    margin-bottom: 200px;
}

.overlap-group6 {
    align-items: center;
    background-size: 100% 100%;
    /*display: flex;*/ 
    gap: 66px;
    justify-content: flex-end;
    min-width: 1440px;
}

.flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 111px;
    width: 388px;
}

.welcome {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxxxl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 258px;
}

.create-the-future-you-want {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 38px;
    width: 388px;
}

.circuit-background-1 {
    height: 363px;
    margin-top: 121px;
    object-fit: cover;
    width: 100%;
}

.out-vision-is-to-sol {
    height: 64px;
    width: 862px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; /* 左右の余白を自動調整 */
    margin-right: auto; /* 左右の余白を自動調整 */
    display: block; /* ブロック要素として中央に配置 */
}

.computer-image {
    height: 344px;
    margin: 73px auto; /* 上部の余白を調整し、左右の余白を自動調整 */
    object-fit: cover;
    width: 743px;
    display: block; /* ブロック要素として中央に配置 */
}